<html lang="en">

<head>
    <meta charset="utf-8">

    <link href="./bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="./bower_components/awesomplete/awesomplete.css" rel="stylesheet">


    <link href="/main.css" rel="stylesheet">
    <link href="/css/step_card.css" rel="stylesheet">



    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="kaps avatar test side">
    <meta name="author" content="Marcel Ochsendorf">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>PROJECT BOX MANAGER</title>




</head>

<body class="container">

    <header>
        <% include ./partials/header %>
    </header>








    <div class="half_transparency_back">

        <div class="row my-12">
            <div class="col-lg-12" style="height:30px; width:100%; clear:both;"></div>
        </div>
        <!-- Heading Row -->
        <div class="row my-4">
            <div class="col-lg-8">

                <h3>
                    <span id="next_step_title">NEXT STEP</span>
                </h3>






                <table class="table table">
                    <thead>
                        <tr>
                            <th scope="col"></th>

                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="next_step_table_body">

                        <tr>
                            <th scope="row">

                            </th>

                            <td>

                            </td>
                        </tr>

                    </tbody>
                </table>



















            </div>




            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <h3>
                    <span id="pr_title">PROJECT</span>
                </h3>


                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"></th>
                            <td> </td>
                        </tr>
                    </thead>
                    <tbody id="pr_table_spec_body">
                    </tbody>
                </table>



            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well  -->
    <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">CHANGE STATE</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success" onclick="state_change('open')">OPEN</button>
                <button type="button" class="btn btn-warning" onclick="state_change('waiting_for_step')">WAITING_FOR_STEP</button>
                <button type="button" class="btn btn-warning" onclick="state_change('waiting_for_parts')">WAITING_FOR_PARTS</button>

                <button type="button" class="btn btn-info" onclick="state_change('pending')">PENDING</button>
                <button type="button" class="btn btn-success" onclick="state_change('ready_shipping')">READY_SHIPPING</button>
                <button type="button" class="btn btn-danger" onclick="state_change('closed')">CLOSED</button>
            </div>


            <p class="text-white m-0">DESCRIPTION</p>
            <textarea rows="2" cols="50" id="state_change_text" name="state_change_text" placeholder="WHY STATE CHANGED">@--WHAT ARE THE NEXT ACTION FOR THIS STEP--@</textarea>
            <br>
            <p class="text-white m-0">DEPARTMENT</p>
            <select id="state_change_dep" name="state_change_dep">
                <option value="DEVELOPER">DEV</option>
                <option value="RESEARCH">RESEARCH</option>
                <option value="TESTING">TESTING</option>
                <option value="SHIPPING">SHIPPING</option>
                <option value="ALL">ALL</option>
                <option value="UNKNOWN">UNKNOWN</option>
            </select>
        </div>
    </div>



    <!-- Content Row -->
    <div class="row">
        <div class="col-md-5 mb-5">

            <h2 class="card-title">STEP HISTORY</h2>
            <div id="step_history_holder">


                <div class="bs-calltoaction bs-calltoaction-info">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Its a Call To Action</h1>
                            <div class="cta-desc">
                                <p>Describe the action here.</p>

                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-info">Go for It!</a>
                        </div>
                    </div>
                </div>




            </div>
        </div>

        <!-- /.col-md-4 -->
        <div class="col-md-7 mb-7">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">PARTS</h2>

                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">PID</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Title</th>
                            </tr>
                        </thead>
                        <tbody id="pr_table_body_parts">
                        </tbody>
                    </table>


                    </tbody>
                    </table>

                    <span>
                        <h3>ADD PART</h3>
                    </span>

                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">+</th>
                                <th scope="col">PART_ID</th>
                                <th scope="col">-</th>
                            </tr>
                        </thead>
                        <tbody id="">

                            <tr>
                                <th scope="row">
                                    <input type="number" min="1" value="1" id="add_new_part_amount_input">
                                </th>
                                <td>
                                    <input name="add_new_part_item_input" id="add_new_part_item_input" list="part_dataset" />
                                    <datalist id="part_dataset"></datalist>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-success" onclick="add_part_to_project()" value="ADD" />
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    </tbody>
                    </table>


                </div>
            </div>



        </div>
        <!-- /.row -->

    </div>












    </div>



    <footer>
        <% include ./partials/footer %>
    </footer>




    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='./bower_components/chart.js/dist/Chart.bundle.js'></script>
    <script src="/2.0.4_socket.io.js"></script>
    <script type='text/javascript' src='./bower_components/awesomplete/awesomplete.min.js'></script>




    <script>
        var socket = null;



        var project_data_str = <%- project_data_str %>;
        var project_data_str_init = <%- project_data_str %>;
        var project_data = null; //json parsed data


        var partlist_data = null;
        var awesomplete_part_input = null;

        var client_id = 123;

        function makeid() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 5; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        function timeConverter(UNIX_timestamp, with_time = false) {
            try {
                var a = new Date(UNIX_timestamp * 1000);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var year = a.getFullYear();
                var month = months[a.getMonth()];
                var date = a.getDate();
                var hour = a.getHours();
                var min = a.getMinutes();
                var sec = a.getSeconds();
                if (with_time) {
                    return date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
                } else {
                    return date + ' ' + month + ' ' + year;
                }
            } catch (error) {
                return UNIX_timestamp
            }
        }

        function clear_tables() {
            $("#pr_table_spec_body").html("");
            $("#pr_table_body_parts").html("");
            $("#step_history_holder").html("");
            $("#next_step_table_body").html("");
            povt_index = 0;
        }
        var povt_index = 0; //FIXED OFFSET FOR REQUIRED ITEMS
        function add_row_to_project_overview_table(_k, _v) {
            $("#pr_table_spec_body").append("<tr><th scope=\"row\">" + povt_index + "</th><td>" + _k +
                "</td><td><span id=\"pr_client\">" + _v + "</span></td></tr>");
            povt_index++;
        }

        function state_change(_st) {
            var text = $("#state_change_text").val();
            if (!text || text == "") {
                text = "";
            }

            if (String(text).indexOf("@--") != -1) {
                alert("PLEASE DESCRIBE THE NEXT ACTIONS");
                return;
            }

            var dep = $("#state_change_dep").val();
            if (!dep) {
                dep = "";
            }
            socket.emit('request_state_change', {
                project_id: project_data_str_init.project_id,
                state: _st,
                client_id: client_id,
                reasson: text,
                department: dep
            });

        }
        function add_part_to_project() {
            var pid = $("#add_new_part_item_input").val();
            var am = $("#add_new_part_amount_input").val();
            //TODO REQUEST SOCK IO
            socket.emit('request_part_add_part', {
                project_id: project_data_str_init.project_id,
                part_id: pid,
                amount: am,
                client_id: client_id
            });
        }

        function add_row_to_part_table(_part_arr) {
            if (_part_arr == undefined || _part_arr == null) {
                return;
            }
            //GET 
            var c = 0;
            for (let index = 0; index < _part_arr.length; index++) {
                var element = _part_arr[index];
                if (element.purpose == undefined || element.purpose == null) {
                    element.purpose = "DESC";
                }
                if (element.amount <= 0) {
                    continue;
                }
                if (partlist_data != undefined && partlist_data.parts != undefined) {
                    for (let index = 0; index < partlist_data.parts.length; index++) {
                        const element_part = partlist_data.parts[index];
                        if (element_part.part_id == element.pid) {
                            element.title = element_part.title;
                            element.purpose = element_part.description;
                            break;
                        }
                    }
                }
                $("#pr_table_body_parts").append("<tr><th scope=\"row\"><a href=\"/parts?pid=" + element.pid + "\" />" +
                    String(c++) + "</a></th><td>" +
                    "<input type=\"number\" value=" + element.amount +
                    " min=\"0\" style=\"width:50px;\" id=\"part_" + element.pid + "\" onChange=\"part_change_req(this, 'part_" + element.pid + "','" + element.pid + "')\"/>" +
                    "x <span id=\"part_" + element.pid + "_int\"></span>" +
                    "</td><td>" +
                    "<span id=\"pr_client\" title=\"" + element.purpose + "\"><a href=\"/parts?pid=" + element.pid + "\" />" + element.title +
                    "</a></span></td></tr>");
            }
        }

        function create_next_step_view(_dt){
            if(!_dt.current_next_step){return;}

            var table_string = ""; 
            if (_dt.current_next_step.title) {
                table_string += "<tr><th scope=\"row\">";
                table_string += "ACTION </th><td><b>" + String(_dt.current_next_step.title) + "</b></td>";
            }

            if(_dt.current_next_step.timestamp){
                table_string += "<tr><th scope=\"row\">";
                table_string += "active since  </th><td>"+String(timeConverter(_dt.current_next_step.timestamp)) + "</td>";
            }

            if (_dt.current_next_step.department) {
                table_string += "<tr><th scope=\"row\">";
                table_string += "department  </th><td>" + String(_dt.current_next_step.department) + "</td>";
            }
            if (_dt.current_next_step.desc) {
                table_string += "<tr><th scope=\"row\">";
                table_string += "DESCRIPTION  </th><td>" + String(_dt.current_next_step.desc) + "</td>";
            }

            $("#next_step_table_body").html("");
            $("#next_step_table_body").html(table_string);


        }


        function part_change_req(thelist, theinput, pid) {
            var val = $("#" + theinput).val();
            socket.emit('request_part_amount_change', {
                project_id: project_data_str_init.project_id,
                part_id: pid,
                amount: val,
                client_id: client_id
            });
        }


        function parse_project_data_parts(_dt) {
            if (_dt == null) {
                return;
            }
            add_row_to_part_table(_dt.parts);
        }

        function parse_project_data_overview_table(_dt) {
            povt_index = 0;
            if (_dt == null) {
                return;
            }
            if (_dt.tile != undefined && _dt.tile != null) {
                if (_dt.revision != undefined && _dt.revision != null) {
                    $("#pr_title").html(_dt.tile.toString() + "<br>[Rev " + _dt.revision.toString() + "]");
                } else {
                    $("#pr_title").html(_dt.tile.toString());
                }
            }
            if (_dt.created != undefined && _dt.created != null) {
                add_row_to_project_overview_table("CREATED", timeConverter(_dt.created.toString()));
            }
            if (_dt.status != undefined && _dt.status != null) {
                _dt.status = String(_dt.status).toLocaleLowerCase();
                var col = "white";
                if (_dt.status == "open") {
                    col = 'green';
                } else if (_dt.status == "closed") {
                    col = 'red';
                } else if (_dt.status == "pending") {
                    col = 'yellow';
                }
                add_row_to_project_overview_table("STATUS", "<span style='color: " + col + ";'>" + _dt.status.toString() + "</span>");
            }

            if (_dt.last_update != undefined && _dt.last_update != null) {
                add_row_to_project_overview_table("LAST_UPDATE", timeConverter(_dt.last_update.toString()));
            }
            if (_dt.additional_propteries != undefined && _dt.additional_propteries != null) {
                for (let index = 0; index < _dt.additional_propteries.length; index++) {
                    const element = _dt.additional_propteries[index];
                    add_row_to_project_overview_table(element.key, element.value);
                }
            }
        }


        //TODO CHECK
        function step_timestamp_compare(a, b) {
            let comparison = 0;
            if (a.timestamp < b.timestamp) {
                comparison = 1;
            } else if (b.timestamp < a.timestamp) {
                comparison = -1;
            }
            return comparison;
        }

        function create_step_history_table(_dt) {


            if (!_dt) { return; }
            if (!_dt.step_history) { return; }
            if (_dt.step_history.length <= 0) { return; }
            $("#step_history_holder").html("");
            var step_arr = [];
            step_arr = _dt.step_history;
            step_arr.sort(step_timestamp_compare);

            for (let index = 0; index < step_arr.length; index++) {
                const step = step_arr[index];
                //CREATE INTERACTIVE STEP CARDS
                var step_style = "default";

                if (step.type) {
                    if (String(step.type) == "info" || String(step.type) == "success" || String(step.type) == "primary" || String(step.type) == "default" || String(step.type) == "warning" || String(step.type) == "danger") {
                        step_style = String(step.type);
                    }
                }
                var btn_id = "stbtn" + String(step.id) + String(step.timestamp);
                var step_html = "";
                if (step.interactive) {
                    step_html = "<div class=\"bs-calltoaction bs-calltoaction-" + step_style + "\"><div class=\"row\"><div class=\"col-md-9 cta-contents\"><h4 class=\"cta-title\">" + step.title + "</h4><div class=\"cta-desc\"><p>" + step.desc + "</p></div></div><div class=\"col-md-3 cta-button\"><input type=\"button\" id=\"" + btn_id + "\" onclick=\"step_click(this,'" + btn_id + "','" + step.url + "')\" class=\"btn btn-lg btn-block btn-" + step_style + "\" value=\"SHOW\" /></div></div></div>";
                } else {
                    step_html = "<div class=\"bs-calltoaction bs-calltoaction-" + step_style + "\"><div class=\"row\"><div class=\"col-md-12 cta-contents\"><h4 class=\"cta-title\">" + step.title + "</h4><div class=\"cta-desc\"><p>" + step.desc + "</p></div></div></div></div>";
                }

                $("#step_history_holder").append(step_html);


            }
        }


        function step_click(_this, _id, _url) {
            if (!_url) { return; }
            document.location.href = _url;
        }


        $(document).ready(function () {
            client_id = makeid();
            console.log("ready: " + String(client_id));
            //FETCH PARTLIST
            $.get("/partlist.json", function (data) {
                console.log("Data Loaded: " + JSON.stringify(data));
                try {
                    partlist_data = JSON.parse(data);
                } catch (error) {
                    var objectConstructor = {}.constructor;
                    if (data.constructor === objectConstructor) {
                        partlist_data = data;
                    } else {
                        partlist_data = null;
                    }
                    //LOAD TABLE AFTER FETCH
                    parse_project_data_parts(project_data);

                    var list = document.getElementById('part_dataset');
                    partlist_data.part_search_list.forEach(function (item) {
                        var option = document.createElement('option');
                        option.value = item;
                        list.appendChild(option);
                    });
                }
                console.log("partlist fatched");
            });






            //CHECK IF IS ALREADY A JS OBJECT -> EJS else PARSE IT
            var objectConstructor = {}.constructor;
            if (project_data_str.constructor === objectConstructor) {
                project_data = project_data_str;
            } else {
                try {
                    project_data = JSON.parse(project_data_str);
                } catch (err) {

                }
            }
            parse_project_data_overview_table(project_data);


            create_step_history_table(project_data);

            create_next_step_view(project_data);

            socket = io();
            socket.emit('add user', {});

            socket.on('response_new_project_data', function (data) {

                clear_tables();
                var objectConstructor = {}.constructor;
                if (project_data_str.constructor === objectConstructor) {
                    project_data = data;
                } else {
                    try {
                        project_data = JSON.parse(data);
                    } catch (err) {

                    }
                }
                parse_project_data_overview_table(project_data.project_data_str);


                if (partlist_data != undefined && partlist_data != null) {
                    parse_project_data_parts(project_data.project_data_str);
                }

                create_step_history_table(project_data.project_data_str);
                
                create_next_step_view(project_data.project_data_str);
            });



            socket.on('error_message_show', function (data) {

                alert(data.message);

            });


            setInterval(function () {
                //   socket.emit('request_new_project_data', {
                //     project_id: project_data_str_init.project_id,
                //   client_id: client_id
                //});
            }, 3000);





        });
    </script>

</body>

</html>